/* h1 {
  display: inline;
}

h6 {
  display: inline;
} */

body {
  /* margin: 0; */

}

h1 {
  padding: 10px;
  text-align: right;
}

a {
  display: inline-block;
}

img {
  width: 400px;
}

.heading {
  font-size: 20px;
  font-family: sans-serif;
}

.dark {
  background-color: black;
  color: #fff;
}

.light {
  color: blue;
}

#test {

}
